@font-face {
  font-family: Sansation;
  src: url("Sansation/Sansation-Regular.ttf");
  line-height: 1.5;
}
@font-face {
  font-family: Montserrat;
  src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
  font-weight: 400;
  line-height: 1.5;
}
:root {
  --background-color-accent: hsl(0, 0%, 3%);
  --background-color-main: hsl(0, 0%, 12%);
  --background-color-alt: hsl(0, 0%, 18%);
  --background-color-hover: hsl(0, 0%, 60%);
  --text-color-main: hsl(0, 0%, 94%);
  --accent-dim: #bb7300;
  --accent-main: #e08114;
  --accent-highlight: #ff991c;
  --accent-bright: #ffb43a;

  font-family: Montserrat;

  color-scheme: light dark;
  color: var(--text-color-main);
  background-color: var(--background-color-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}
a:-webkit-any-link {
  color: initial;
}

body {
  margin: 0px;
}

button {
  all: unset;
  cursor: pointer;
}
p,
span {
  display: block !important;
  all: unset;
}

img.inv {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color-main: hsl(0, 0%, 20%);
    --backround-color-accent: hsl(0, 0%, 84%);
    --background-color-main: hsl(0, 0%, 100%);
    --background-color-alt: hsl(0, 0%, 91%);
    --background-color-hover: hsl(0, 0%, 56%);
  }
  a:hover {
    color: #747bff;
  }
}
